.well
  background-color #333
  border-color #222
  color #eee
  
#content
  margin-top 10px

.tutorial
  background-color #eee
  margin-top 10px
  margin-bottom 10px
  .span12
    padding 10px

hr
  border-top 1px solid #555
  border-bottom 1px solid #000
  
.title-bar
  position relative
#btn_restart
  float right
  margin-top -34 px // i don't like this either
  