.row-fluid.ur_board.nodisplay
  .span4.left_player
  .span4.board
    h3.board_message.nodisplay
    button.btn_pass_turn.btn-large.btn-warning.nodisplay Pass turn
    .board_overlay.nodisplay
  .span4.right_player
