.ur_grid td svg
  filter url(#svg_displacementFilter)
  fill none
  stroke black
  stroke-width 20
  width (tokenSize + 2 * tokenPaddingSize)px
  height (tokenSize + 2 * tokenPaddingSize)px
  position absolute
  top 0
  left 0