.row-fluid
  .span12
    p
      | If you land on an enemi token, it is captured and returned to
      | the starting position. Watch the blinking square, red will capture
      | blue there. (the game resets shortly after)