.row-fluid
  .span12
    p That's all for the tutorial.
    p You can start a local game, where both players share the same computer, or a remote one where you will be given a URL to share with your adversary.