.row-fluid
  .span12
    p That's all for the tutorial.
    p You can start a local game, where both players share the same computer, or a remote one where you will be given a URL to share with your adversary.
    p
      | Here is a secret cheat sheet of keyboard shortcuts:
      dl.dl-horizontal
        dt r
        dd Show or hide cell risk assesment. This is the sum of the probabilities of the enemy putting a token at that cell as per dice and rethrows only.
        dt f
        dd Flash cell keyboard shortcuts
        dt 0-9 a-e
        dd Said cell keyboard shortcuts
        dt
          em space
        dd Pass turn