.row-fluid
  .span4.text-left
    h4 Left/Blue player dice
    p The first player's dice appear below here when it's their turn
  .span4.text-center
    h4 The board
    p The board is displayed in the center
  .span4.text-right
    h4 Right/Red player dice
    p The second player's dice appear below here when it's their turn
