extends layout

block content
  #content.container-fluid
    .row-fluid
      p Welcome to Mimosa
      if optimize
        p Optimized mode.  You are getting a single RequireJS optimized JavaScript file which includes all the page dependencies.