fix_bootstrap_glyph_paths(pathPrefix)
  [class^="icon-"],
  [class*=" icon-"]
    background-image url(pathPrefix + "glyphicons-halflings.png")
  .icon-white,
  .nav-pills > .active > a > [class^="icon-"],
  .nav-pills > .active > a > [class*=" icon-"],
  .nav-list > .active > a > [class^="icon-"],
  .nav-list > .active > a > [class*=" icon-"],
  .navbar-inverse .nav > .active > a > [class^="icon-"],
  .navbar-inverse .nav > .active > a > [class*=" icon-"],
  .dropdown-menu > li > a:hover > [class^="icon-"],
  .dropdown-menu > li > a:focus > [class^="icon-"],
  .dropdown-menu > li > a:hover > [class*=" icon-"],
  .dropdown-menu > li > a:focus > [class*=" icon-"],
  .dropdown-menu > .active > a > [class^="icon-"],
  .dropdown-menu > .active > a > [class*=" icon-"],
  .dropdown-submenu:hover > a > [class^="icon-"],
  .dropdown-submenu:focus > a > [class^="icon-"],
  .dropdown-submenu:hover > a > [class*=" icon-"],
  .dropdown-submenu:focus > a > [class*=" icon-"]
    background-image url(pathPrefix + "glyphicons-halflings-white.png")
fix_bootstrap_glyph_paths("./vendor/bootstrap/")

.nodisplay
  display none
  
body
  background-color #555
  overflow hidden

#content
  margin-top 10px

@import "_pyramid"

.tutorial
  background-color #eee
  margin-top 10px
  margin-bottom 10px
  .span12
    padding 10px

hr
  border-top 1px solid #999
  border-bottom 1px solid #aaa

  
diceSize = 50px
@import "../javascripts/flash_message"
@import "../javascripts/ur_dice"
@import "../javascripts/ur_grid"
@import "../javascripts/ur_board"
@import "../javascripts/ur_board_player_sidebar"
